

.money-div {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-weight: 900;
  font-family: Verdana, sans-serif;
}


.log-in{
  width: 50%;
  margin: 0 auto;
  padding: 80px;


}
#hand {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 20px;

}

.homepage-button{
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 20px;

}

.loan-category-table {
  width: 50%;
}


.homepage-phrase {
  font-weight: 900 bold;

}


.logo-phrase {
  font-weight: 900;

}


body {
  height: 100%;
  font-family:"Lucida Console", Courier, monospace;
  margin: 0;
  padding: 10px;
  font-weight: 500;
  background: #deeaee;  
} 
.money {
  margin: auto;
  width: 50%;
  padding-top: 80px;
  padding-bottom: 50px;

}

.homepage-button {
  margin: auto;
  width: 20%;
  padding: 5px;

}

#card-img{
  width: 50%; 
  height: 50%; 
  margin: auto;
  object-fit: contain;
  padding: 5px;
}
.handicon{
  width: 50px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  
}

#map-div {
  height: 50%;
  width: 50%;
}

.lady:hover {
  vertical-align: middle;
  /* border-style: none; 
  opacity: 0.5; */
  
}
.loans_choices{
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
.loans-background {
  background-image: url("static/jpg/loan_categories.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loans{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid grey;
  opacity: 0.9;
  border-radius: 5px;
  border-style: groove;
  width: 500px;
  padding: 10px;
}


.card_loans {
  width:300px;
  padding: 10px;
  border-radius: 5px;
  margin: 30px;
}

.loans_info {
  margin: 1%;
  font-weight: bold;
  color: #000000;

}


.unsave_button {
  width: 300px;
  padding: 10px;
  margin: auto;
  border: 1px solid grey;
  padding-bottom: 10px;
  text-align:center;
}
.card{
  display: flex;
  flex-wrap: wrap;
}
#compare{
  font-weight: 600;
}
#search{
  width: 320px;
  padding: 10px;
  margin: 0;
  
}
