<html>
  <head>
    <title>{% block title %}{% endblock %} </title>

  <!-- <link href="/static/css/site.css" rel="stylesheet"> -->

 </head>

 <body>
  {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
	  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src='https://unpkg.com/react-router@5.2.0/umd/react-router.min.js'></script>
    <script src='https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js'></script>
    {% block js %}
    
    {% endblock %}

    {% block body %}
    {% endblock %}

 </body>
</html>